<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <ul id="c2123">
    <script type="text/jnodes" render="jhtmls">
    var count = 0;
    <li bind="item">
      1---#{item.title} -- #{count++}
    </li>
    <li bind="item">2---#{item.title}</li>
    </script>
  </ul>

  <ul>
    <script type="text/jnodes" render="ejs" id="c2124">
    <% var count = 0; %>
    <li bind="item">
      1---<%= item.title %> -- <%= count++ %>
    </li>
    <li bind="item">2---<%= item.title %></li>
    </script>
  </ul>

  <div>
    <script type="text/jnodes" render="jhtmls">
    <ul bind="items">
      items.forEach(function (item, index) {
        <li bind="item">#{index}---#{item.title}</li>
      })
    </ul>
    </script>
  </div>

  <ul>
    <script type="text/jnodes" id="jhtmls">
    jnodes.bind(item, function(item, _output_, _scope_) {
    <li bind="#{_scope_.id}" style="!#{/\d/.test(item.title) ? 'color: red;' : ''}">1---#{item.title}</li>
    }).render(_output_);
    jnodes.bind(item, function(item, _output_, _scope_) {
    <li bind="#{_scope_.id}">2---#{item.title}</li>
    }).render(_output_);
    </script>
  </ul>

  <div>
    <script type="text/jnodes" id="jhtmls2">
    jnodes.bind(items, function(items, _output_, _scope_) {
    <ul bind="#{_scope_.id}">
      items.forEach(function (item, index) {
        jnodes.bind(item, function(item, _output_, _scope_) {
        <li bind="#{_scope_.id}">#{index}---#{item.title}</li>
        }).render(_output_);
      })
    </ul>
    }).render(_output_);
    </script>
  </div>

  <ul>
    <script type="text/jnodes" id="ejs">
    <% jnodes.bind(item, function(item, __output, _scope_) { var __append = __output.push.bind(__output); %>
    <li bind="<%= _scope_.id %>" style="<%- /\d/.test(item.title) ? 'color: red;' : '' %>">1---<%= item.title %></li>
    <% }).render(__output); %>
    <% jnodes.bind(item, function(item, __output, _scope_) { var __append = __output.push.bind(__output); %>
    <li bind="<%= _scope_.id %>">2---<%= item.title %></li>
    <% }).render(__output); %>
    </script>
  </ul>
</body>
<script src="node_modules/jhtmls/jhtmls.js"></script>
<script src="node_modules/ejs/ejs.js"></script>
<script src="src/jnodes.js"></script>
<script src="src/render/jhtmls.js"></script>
<script src="src/render/ejs.js"></script>
<script>
function bind(element, data) {
  if (!data) {
    return;
  }
  if (typeof element === 'string') {
    element = document.querySelector(element);
  }
  var parentElement;
  var scriptElement;
  if (/script/i.test(element.tagName)) {
    scriptElement = element;
    parentElement = element.parentNode;
  } else {
    scriptElement = element.querySelector('script');
    parentElement = element;
  }
  if (!scriptElement || !parentElement) {
    return;
  }

  var render = jnodes.getRender(scriptElement.getAttribute('render'));
  if (render) {
    parentElement.innerHTML = render(scriptElement.innerHTML, data);
  }
}

jnodes.setRender('ejs', function (template, data) {
  return ejs.render(jnodes_render_ejs(template), data);
});

jnodes.setRender('jhtmls', function (template, data) {
  return jhtmls.render(jnodes_render_jhtmls(template), data);
});

var item = {
  title: 'time'
};
bind('#c2123', {
  item: item
});
bind('#c2124', {
  item: item
});

// var template = document.querySelector('#c2124');
// var items = [item1, item1, item1];
// // console.log(String(ejs.compile(template.innerHTML)));
// template.parentNode.innerHTML = ejs.render(jnodes_render_ejs(template.innerHTML), {
//  item: item1
// });

setInterval(function () {
 item.title = Date.now();
}, 1000);

// jnodes_render_jhtmls(document.querySelector('#c2123').innerHTML);
</script>
</html>
