<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf8">
  <style>
    .star {
      background: gray;
    }
    textarea {
      width: 600px;
      height: 800px;
    }
  </style>
</head>
<body>
    <div id="books_art">
      <script type="text/art">
      <div>
        <button cmd="remove">remove</button>
        <button cmd="sort">sort</button>
        <%
        function _sort() {
          books.$$asc = -(books.$$asc || 1);
          books.sort(function (a, b) {
            return a.title.localeCompare(b.title) * books.$$asc;
          });
        }
        %>
        <button :cmd="_sort">_sort</button>
      </div>
      <ul :bind="books">
      <% books.forEach(function (book) { %>
        <li :bind="book" class="book" :class="{ star: book.star }">
          <%- book.title %>
          <% if (book.star) { %>
          <button cmd="star">🌟</button>
          <% } else { %>
          <button cmd="star">🌛</button>
          <% } %>
          <:template name="book1" />
        </li>
      <% }); %>
      </ul>
      </script>
    </div>
    <textarea></textarea>
    <script type="text/art" id="book1">
    <h6>书名：<%- title %></h6>
    <h6>作者：<%- author %></h6>
    </script>
</body>
<script src="../node_modules/art-template/lib/template-web.js"></script>
<script src="../node_modules/h5tap/h5tap.js"></script>
<script src="../jnodes.js"></script>
<script src="books.js"></script>
<script src="../src/js/Compiler/art.js"></script>
<script>
(function () {
  var rootData = {
    books: books.slice(0, 10).map(function(book) {
      book.star = false;
      return book;
    })
  }

  jnodes.binder = new jnodes.Binder();
  var binder = jnodes.binder;

  // --
  var script = document.querySelector('#book1');
  var root = jnodes.Parser.parse(script.innerHTML);
  var renderBook1 = window.template.compile(jnodes.Parser.build(root, {
      bindObjectName: jnodes.binder._bindObjectName,
      out: (window.template.compile.Compiler && window.template.compile.Compiler.CONSTS.OUT) || '$out',
    }, compiler_art), {
    imports: {
      jnodes: jnodes
    }
  });
  jnodes.binder.registerTemplate('book1', function (scope) {
    return renderBook1(scope.model);
  });

  var element = document.querySelector('#books_art');
  var script = document.querySelector('#books_art script');

  // var compiler = new jnodes.Compiler();
  var root = jnodes.Parser.parse(script.innerHTML);
  var textarea = document.querySelector('textarea')
  var template = jnodes.Parser.build(root, {
      bindObjectName: jnodes.binder._bindObjectName,
      out: (window.template.compile.Compiler && window.template.compile.Compiler.CONSTS.OUT) || '$out',
    }, compiler_art);
  textarea.value = template;
  element.innerHTML = window.template.render(template, rootData, {
    imports: {
      jnodes: jnodes
    }
  });

  jnodes.binder.$$scope.element = element;

  h5tap(element, 'button', function (element) {
    var scope = binder.scope(element);
    if (!scope) {
      return;
    }
    var cmd = element.getAttribute('cmd');
    switch (cmd) {
      case 'star':
        scope.model.star = !scope.model.star;

        break;
      case 'remove':
        scope.model.books.shift();
        break;
      case 'sort':
        scope.model.books.$$asc = -(scope.model.books.$$asc || 1);
        scope.model.books.sort(function (a, b) {
          return a.title.localeCompare(b.title) * (scope.model.books.$$asc);
        })
        break;
      default:
        if (cmd[0] === '@') {
          var method = (scope.methods || {})[cmd]
          if (method) {
            method()
          }
        }
        break;
    }
  });
})();
</script>
</html>
