<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf8">
  <style>
    .star {
      background: gray;
    }
    textarea {
      width: 600px;
      height: 800px;
    }
  </style>
</head>
<body>
    <div id="books_art">
      <script type="text/art">
      <div>
        <button cmd="remove">remove</button>
        <button cmd="sort">sort</button>
        <%
        function _sort() {
          books.$$asc = -(books.$$asc || 1);
          books.sort(function (a, b) {
            return a.title.localeCompare(b.title) * books.$$asc;
          });
        }
        %>
        <button :cmd="_sort">_sort</button>
      </div>
      <ul :bind="books">
      <% books.forEach(function (book) { %>
        <li :bind="book" class="book" :class="{ star: book.star }">
          <%- book.title %>
          <% if (book.star) { %>
          <button cmd="star">🌟</button>
          <% } else { %>
          <button cmd="star">🌛</button>
          <% } %>
          <:template name="book1" />
        </li>
      <% }); %>
      </ul>
      </script>
    </div>
    <textarea></textarea>
    <script type="text/art" id="book1">
    <h6>书名：<%- title %></h6>
    <h6>作者：<%- author %></h6>
    </script>
</body>
<script src="../node_modules/art-template/lib/template-web.js"></script>
<script src="../node_modules/h5tap/h5tap.js"></script>
<script src="../jnodes.js"></script>
<script src="books.js"></script>
<script>
(function () {
  var rootData = {
    books: books.slice(0, 10).map(function(book) {
      book.star = false;
      return book;
    })
  }

  var binder = new jnodes.Binder();

  jnodes.bind = function () {
    return binder.bind.apply(binder, arguments);
  };
  jnodes.templateRender = function () {
    return binder.templateRender.apply(binder, arguments);
  }

  // --
  var script = document.querySelector('#book1');
  var root = jnodes.Parser.parse(script.innerHTML);
  var renderBook1 = window.template.compile(jnodes.Parser.build(root, 'jnodes', artCompiler), {
    imports: {
      jnodes: jnodes
    }
  });
  binder.registrTemplate('book1', function (scope) {
    return renderBook1(scope.model);
  });

  var element = document.querySelector('#books_art');
  var script = document.querySelector('#books_art script');

  function artCompiler(node, bindObjectName) {
    var indent = node.indent || ''
    if (node.type === 'root') {
      node.beforebegin = `<%${indent}/***/ var _rootScope_ = ${bindObjectName}.bind($data, { root: true }, null, function (_output_, _scope_) { var $out = '';%>`;
      node.afterend = `<%${indent}/***/ _output_.push($out); }); var _output_ = []; _rootScope_.innerRender(_output_); $out += _output_.join(''); ${bindObjectName}.bind.$$scope = _rootScope_;%>`
      return;
    }

    if (!node.tag) {
      return;
    }

    if (node.tag === ':template') {
      node.attrs.some(function (attr) {
        if (attr.name === 'name') {
          node.overwriteNode = `<% $out += ${bindObjectName}.templateRender(${JSON.stringify(attr.value)}, _scope_, jnodes.bind); %>`
          return true;
        }
      });
      return;
    }

    if (!node.attrs || !node.attrs.length) {
      return;
    }
    var varintAttrs = `<%${indent}/***/ var _attrs_ = [\n`;
    var hasOverwriteAttr;
    var bindDataValue;
    node.attrs.forEach(function (attr) {
      var value;
      if (attr.name[0] === ':') {
        if (attr.name === ':bind') {
          bindDataValue = attr.value;
        }
        hasOverwriteAttr = true;
        value = attr.value;
      } else {
        value = JSON.stringify(attr.value);
      }
      varintAttrs += `${indent}/***/ { name: ${JSON.stringify(attr.name)}, value: ${value}, quoted: ${JSON.stringify(attr.quoted)}},\n`;
    })
    if (!hasOverwriteAttr) {
      return;
    }

    node.beforebegin = '';
    if (bindDataValue) {
      node.beforebegin += `<%${indent}/***/ _output_.push($out); $out=''; ${bindObjectName}.bind(${bindDataValue}, _scope_, function (_output_, _scope_, holdInner) { var $out = ''; %>`;
      node.beforeend = `<%${indent}/***/ _scope_.innerRender = function(_output_) { var $out = '';%>`;
      node.afterbegin = `<%${indent}/***/ _output_.push($out); }; if (holdInner) { _output_.push($out); $out = ''; _scope_.innerRender(_output_); }%>`;
      node.afterend = `<%${indent}/***/ _output_.push($out); }).outerRender(_output_, true); %>`;
    }

    varintAttrs += `${indent}/***/ ];%>`;
    node.beforebegin += varintAttrs;
    node.overwriteAttrs = '<%- _scope_.attrsRender(_scope_, _attrs_) %>';
  }

  // var compiler = new jnodes.Compiler();
  var root = jnodes.Parser.parse(script.innerHTML);
  var textarea = document.querySelector('textarea')
  var template = jnodes.Parser.build(root, 'jnodes', artCompiler);
  textarea.value = template;
  element.innerHTML = window.template.render(template, rootData, {
    imports: {
      jnodes: jnodes
    }
  });

  jnodes.bind.$$scope.element = element;

  h5tap(element, 'button', function (element) {
    var scope = binder.scope(element);
    if (!scope) {
      return;
    }
    var cmd = element.getAttribute('cmd');
    switch (cmd) {
      case 'star':
        scope.model.star = !scope.model.star;

        break;
      case 'remove':
        scope.model.books.shift();
        break;
      case 'sort':
        scope.model.books.$$asc = -(scope.model.books.$$asc || 1);
        scope.model.books.sort(function (a, b) {
          return a.title.localeCompare(b.title) * (scope.model.books.$$asc);
        })
        break;
      default:
        if (cmd[0] === '@') {
          var method = (scope.methods || {})[cmd]
          if (method) {
            method()
          }
        }
        break;
    }
  });
})();
</script>
</html>
