<!DOCTYPE html>
<html>
<head>
  <title>jnodes example</title>
  <style type="text/css">
li {
  color: blue;
  list-style: none;
}
em {
  color: red;
  font-weight: bold;
}
  </style>
</head>
<body>
  <ul id="c2123">
    <script type="text/jnodes" render="jhtmls">
    var count = 0;
    <li bind="item">
      1---#{item.title} -- <em>#{count++}</em>
    </li>
    <li bind="item">2---#{item.title}</li>
    </script>
  </ul>

  <ul>
    <script type="text/jnodes" render="ejs" id="c2124">
    <% var count = 100; %>
    <li bind="item">
      1---<%= item.title %> -- <em><%= count++ %></em>
    </li>
    <li bind="item">2---<%= item.title %></li>
    </script>
  </ul>
</body>
<script src="../jnodes.js"></script>
<script src="../node_modules/jhtmls/jhtmls.js"></script>
<script src="../node_modules/ejs/ejs.js"></script>
<script>
function bind(element, data) {
  if (!data) {
    return;
  }
  if (typeof element === 'string') {
    element = document.querySelector(element);
  }
  var parentElement;
  var scriptElement;
  if (/script/i.test(element.tagName)) {
    scriptElement = element;
    parentElement = element.parentNode;
  } else {
    scriptElement = element.querySelector('script');
    parentElement = element;
  }
  if (!scriptElement || !parentElement) {
    return;
  }

  var render = jnodes.get(scriptElement.getAttribute('render'));
  if (render) {
    jnodes.bind(data, function () {
      parentElement.innerHTML = render(scriptElement.innerHTML, data);
    }, true).render();
  }
}

var item = {
  title: 'time',
};
bind('#c2123', {
  item: item,
});
bind('#c2124', {
  item: item,
});

setInterval(function () {
  item.title = Date.now();
}, 1000);
</script>
</html>