<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf8">
  <style>
    .star {
      background: gray;
    }
  </style>
</head>
<body>
    <ul id="books_jhtml">
      <!--script type="text/jhtmls">
      <li>
        <button @click="shift()">remove</button>
        function _sort() {
          _sort.asc = -(_sort.asc || 1);
          sort(function (a, b) {
            return a.title.localeCompare(b.title) * _sort.asc;
          });
        }
        <button :cmd="_sort">sort</button>
      </li>
      forEach(function (book) {
        <li :bind="book" class="book" :class="{ star: book.star }">
          #{book.title}
          if (book.star) {
          <button cmd="star">🌟</button>
          } else {
          <button cmd="star">🌛</button>
          }
        </li>
      });
      </script-->
      <script type="text/jhtmls">
/***/ var _rootScope_ = jnodes.binder.bind([this], { root: true }, null, function (_output_, _scope_) {
      <li>
/***/   var _attrs_ = [{
/***/     'name': '@click',
/***/     'value': function () { shift(); },
/***/   }];
        <button !#{jnodes.binder._attrsRender(_scope_, _attrs_)}>remove</button>
        function _sort() {
          _scope_.asc = -(_scope_.asc || 1);
          sort(function (a, b) {
            return a.title.localeCompare(b.title) * _scope_.asc;
          });
        }
/***/   var _attrs_ = [{
/***/     'name': '@click',
/***/     'value': _sort,
/***/   }];
        <button !#{jnodes.binder._attrsRender(_scope_, _attrs_)}>sort</button>
      </li>
      forEach(function (book) {
/***/   jnodes.binder.bind([book], _scope_, function (_output_, _scope_, holdInner) {
/***/     var _attrs_ = [
/***/       { name: ":bind", value: book, quoted: '"'},
/***/       { name: "class", value: "book", quoted: '"'},
/***/       { name: ":class", value: { star: book.star }, quoted: '"' },
/***/     ];
        <li !#{jnodes.binder._attrsRender(_scope_, _attrs_)}>
/***/     _scope_.innerRender = function(_output_) {
          #{book.title}
/***/   var _attrs_ = [{
/***/     'name': '@click',
/***/     'value': function () { book.star = !book.star; },
/***/   }];
          if (book.star) {
          <button !#{jnodes.binder._attrsRender(_scope_, _attrs_)}>🌟</button>
          } else {
          <button !#{jnodes.binder._attrsRender(_scope_, _attrs_)}>🌛</button>
          }
/***/     }; if (holdInner) { _scope_.innerRender(_output_); }
        </li>
/***/   }).outerRender(_output_, true);
      });

/***/ }); _rootScope_.innerRender(_output_); jnodes.binder.$$scope = _rootScope_;
      </script>
    </ul>
    <ul id="books_ejs">
      <!--script type="text/ejs">
      <li>
        <button cmd="remove">remove</button>
        <%
        function _sort() {
          _scope_.asc = -(_scope_.asc || 1);
          sort(function (a, b) {
            return a.title.localeCompare(b.title) * _scope_.asc;
          });
        }
        %>
        <button :cmd="_sort">sort</button>
      </li>
      </li>
      <% forEach(function (book) { %>
        <li :bind="book" class="book" :class="{ star: book.star }">
          <%= book.title %>
      <%    if (book.star) { %>
          <button cmd="star">🌟</button>
      <%    } else { %>
          <button cmd="star">🌛</button>
      <%    } %>
        </li>
      <% }); %>
      </script-->
      <script type="text/ejs">
      <%
/***/ var _rootScope_ = jnodes.binder.bind([locals], { root: true }, null, function (__output, _scope_) {
/***/   var __append = __output.push.bind(__output);
      %>

      <li>
        <%
/***/   var _attrs_ = [{
/***/     'name': '@click',
/***/     'value': function () { shift(); },
/***/   }];
        %>
        <button <%- jnodes.binder._attrsRender(_scope_, _attrs_) %>>remove</button>
        <%
        function _sort() {
          _scope_.asc = -(_scope_.asc || 1);
          sort(function (a, b) {
            return a.title.localeCompare(b.title) * _scope_.asc;
          });
        }
        %>
        <%
/***/   var attrs = [{
/***/     'name': '@click',
/***/     'value': _sort,
/***/   }];
        %>
        <button <%- jnodes.binder._attrsRender(_scope_, attrs) %>>sort</button>
      </li>
      <% forEach(function (book) { %>
      <%
/***/    jnodes.binder.bind([book], _scope_, function (__output, _scope_, holdInner) {
/***/      var __append = __output.push.bind(__output);
/***/      var _attrs_ = [
/***/        { name: ":bind", value: book, quoted: '"'},
/***/        { name: "class", value: "book", quoted: '"'},
/***/        { name: ":class", value: { star: book.star }, quoted: '"' },
/***/      ];
      %>
        <li <%- jnodes.binder._attrsRender(_scope_, _attrs_) %>>
      <%
/***/      (_scope_.innerRender = function(__output) {
/***/        var __append = __output.push.bind(__output);
/***/   var _attrs_ = [{
/***/     'name': '@click',
/***/     'value': function () { book.star = !book.star; },
/***/   }];
      %>
             <%= book.title %>
      <%     if (book.star) { %>
          <button <%- jnodes.binder._attrsRender(_scope_, _attrs_) %>>🌟</button>
      <%     } else { %>
          <button <%- jnodes.binder._attrsRender(_scope_, _attrs_) %>>🌛</button>
      <%     } %>
      <%
/***/      })(__output);
      %>
        </li>
      <%
/***/ }).outerRender(__output, true);
      %>
      <% }); %>
      <%
/***/ });
/***/ _rootScope_.innerRender(__output);
/***/ jnodes.binder.$$scope = _rootScope_;
      %>
      </script>
    </ul>
</body>
<script src="../node_modules/jhtmls/jhtmls.js"></script>
<script src="../node_modules/ejs/ejs.js"></script>
<script src="../node_modules/h5tap/h5tap.js"></script>
<script src="../jnodes.js"></script>
<script src="books.js"></script>
<script>
(function () {
  books = books.slice(0, 10).map(function(book) {
    book.star = false;
    return book;
  });

  var binder = jnodes.binder = new jnodes.Binder();

  function bind(selector, data) {
    var element = document.querySelector(selector);
    var script = element.querySelector('script');

    var match = script.getAttribute('type').match(/text\/([\w-]+)/);
    if (!match) {
      return;
    }

    switch (match[1]) {
      case 'jhtmls':
        element.innerHTML = jhtmls.render(script.innerHTML, books);
        break;
      case 'ejs':
        element.innerHTML = ejs.render(script.innerHTML, books);
        break;
      default:
        return;
    }
    var rootScope = jnodes.binder.$$scope;
    rootScope.element = element;

    function findEventTarget(parent, target, selector) {
      var elements = [].slice.call(parent.querySelectorAll(selector));
      while (target && elements.indexOf(target) < 0) {
        target = target.parentNode;
      }
      return target;
    }

    ['click', 'dblclick', 'keydown', 'keyup', 'focusin', 'focusout'].forEach(function (eventName) {
      element.addEventListener(eventName, function (e) {
        var target = findEventTarget(element, e.target, '[' + binder._eventAttributePrefix + eventName + ']');
        if (!target) {
          return;
        }
        binder.triggerScopeEvent(e, target);
      })
    })

  }

  bind('#books_jhtml', books);
  bind('#books_ejs', books);
})();
</script>
</html>
