<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf8">
  <style>
    .star {
      background: gray;
    }
    textarea {
      width: 600px;
      height: 800px;
    }
  </style>
</head>
<body>
    <div id="books_ejs">
      <script type="text/ejs">
      <div>
        <button cmd="remove">remove</button>
        <button cmd="sort">sort</button>
        <%
        function _sort() {
          books.$$asc = -(books.$$asc || 1);
          books.sort(function (a, b) {
            return a.title.localeCompare(b.title) * books.$$asc;
          });
        }
        %>
        <button :cmd="_sort">_sort</button>
      </div>
      <ul :bind="books">
      <% books.forEach(function (book) { %>
        <li :bind="book" class="book" :class="{ star: book.star }">
          <%- book.title %>
          <% if (book.star) { %>
          <button cmd="star">🌟</button>
          <% } else { %>
          <button cmd="star">🌛</button>
          <% } %>
          <button @cmd="show(book.title)">show()</button>
        </li>
      <% }); %>
      </ul>
      </script>
    </div>
    <textarea></textarea>
</body>
<script src="../node_modules/ejs/ejs.js"></script>
<script src="../node_modules/h5tap/h5tap.js"></script>
<script src="../jnodes.js"></script>
<script src="books.js"></script>
<script src="../lib/Adapter/ejs.js"></script>
<script>
(function () {
  var rootData = {
    books: books.slice(0, 10).map(function(book) {
      book.star = false;
      return book;
    })
  }

  var binder = jnodes.binder = new jnodes.Binder({
    imports: {
      show: function(text) {
        console.log(text);
      }
    }
  });

  var element = document.querySelector('#books_ejs');
  var script = document.querySelector('#books_ejs script');

  var root = jnodes.Parser.parse(script.innerHTML);
  var textarea = document.querySelector('textarea')
  var template = jnodes.Parser.build(root, binder._bindObjectName, adapter_ejs);
  textarea.value = template;
  element.innerHTML = ejs.render(template, rootData);

  jnodes.binder.$$scope.element = element;

  h5tap(element, 'button', function (element) {
    var scope = binder.scope(element);
    if (!scope) {
      return;
    }

    var cmd = element.getAttribute('cmd') || element.getAttribute('data-jnodes-event-cmd');
    switch (cmd) {
      case 'star':
        scope.model.star = !scope.model.star;
        break;
      case 'remove':
        scope.model.books.shift();
        break;
      case 'sort':
        scope.model.books.$$asc = -(scope.model.books.$$asc || 1);
        scope.model.books.sort(function (a, b) {
          return a.title.localeCompare(b.title) * (scope.model.books.$$asc);
        })
        break;
      default:
        if (cmd && cmd[0] === '@') {
          var method = (scope.methods || {})[cmd]
          if (method) {
            method()
          }
        }
        break;
    }
  });
})();
</script>
</html>
