<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf8">
  <style>
    .star {
      background: gray;
    }
    textarea {
      width: 600px;
      height: 800px;
    }
  </style>
</head>
<body>
    <div id="books_ejs">
      <script type="text/ejs">
      <div>
        <button @click="books.shift()">remove</button>
        <%
        function _sort() {
          books.$$asc = -(books.$$asc || 1);
          books.sort(function (a, b) {
            return a.title.localeCompare(b.title) * books.$$asc;
          });
        }
        %>
        <button @click="_sort()">sort</button>
      </div>
      <ul :bind="books">
      <% books.forEach(function (book) { %>
        <li :bind="book" class="book" :class="{ star: book.star }">
          <%- book.title %>
          <% if (book.star) { %>
          <button @click="book.star = !book.star">🌟</button>
          <% } else { %>
          <button @click="book.star = !book.star">🌛</button>
          <% } %>
          <button @dblclick="show(book.title)">show()</button>
        </li>
      <% }); %>
      </ul>
      </script>
    </div>
    <textarea></textarea>
</body>
<script src="../node_modules/ejs/ejs.js"></script>
<script src="../node_modules/h5tap/h5tap.js"></script>
<script src="../jnodes.js"></script>
<script src="books.js"></script>
<script src="../lib/Adapter/ejs.js"></script>
<script>
(function () {
  var rootData = {
    books: books.slice(0, 10).map(function(book) {
      book.star = false;
      return book;
    })
  }

  var binder = jnodes.binder = new jnodes.Binder({
    imports: {
      show: function(text) {
        console.log(text);
      }
    }
  });

  var element = document.querySelector('#books_ejs');
  var script = document.querySelector('#books_ejs script');

  var root = jnodes.Parser.parse(script.innerHTML);
  var textarea = document.querySelector('textarea')
  var template = jnodes.Parser.build(root, binder._bindObjectName, adapter_ejs);
  textarea.value = template;
  element.innerHTML = ejs.render(template, rootData);

  jnodes.binder.$$scope.element = element;

  function findEventTarget(parent, target, selector) {
    var elements = [].slice.call(parent.querySelectorAll(selector));
    while (target && elements.indexOf(target) < 0) {
      target = target.parentNode;
    }
    return target;
  }

  ['click', 'dblclick', 'keydown', 'keyup', 'focusin', 'focusout'].forEach(function (eventName) {
    element.addEventListener(eventName, function (e) {
      var target = findEventTarget(element, e.target, '[' + binder._eventAttributePrefix + eventName + ']');
      if (!target) {
        return;
      }
      binder.triggerScopeEvent(e, target);
    })
  });

})();
</script>
</html>
