<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf8">
  <style>
    .star {
      background: gray;
    }
  </style>
</head>
<body>
    <div id="books_jhtml">
      <!--script type="text/jhtmls">
      <div>
        <button cmd="remove">remove</button>
        var asc = 1;
        function bookSort() {
          asc = -asc;
          books.sort(function (a, b) {
            return a.title.localeCompare(b.title) * asc;
          });
        }
        <button :cmd="bookSort">sort</button>
      </div>
      <ul :bind="books">
      forEach(function (book) {
        <li :bind="book" class="book" :class="{ star: book.star }">
          #{book.title}
          <:template name="button" />
        </li>
      });
      </ul>
      </script-->
      <script type="text/jhtmls">
/***/ var _rootScope_ = jnodes.bind(this, { root: true }, null, function (_output_, _scope_) {
      <div>
        <button cmd="remove">remove</button>
        function _sort() {
          _scope_.asc = -(_scope_.asc || 1);
          books.sort(function (a, b) {
            return a.title.localeCompare(b.title) * _scope_.asc;
          });
        }
/***/   var attrs = [{
/***/     'name': ':cmd',
/***/     'value': _sort,
/***/   }];
        <button !#{_scope_.attrsRender(_scope_, attrs)}>sort</button>
      </div>
/***/   jnodes.bind(books, _scope_, function (_output_, _scope_, holdInner) {
/***/     var attrs = [
/***/       { name: ":bind", value: books, quoted: '"'},
/***/     ];
      <ul !#{_scope_.attrsRender(_scope_, attrs)}>
/***/     _scope_.innerRender = function(_output_) {
      books.forEach(function (book) {
/***/       jnodes.bind(book, _scope_, function (_output_, _scope_, holdInner) {
/***/         var attrs = [
/***/           { name: ":bind", value: book, quoted: '"'},
/***/           { name: "class", value: "book", quoted: '"'},
/***/           { name: ":class", value: { star: book.star }, quoted: '"' },
/***/         ];
        <li !#{_scope_.attrsRender(_scope_, attrs)}>
/***/         _scope_.innerRender = function(_output_) {
          #{book.title}
/***/           _output_.push(jnodes.templateRender('button', _scope_, jnodes.bind));
/***/         };
/***/         if (holdInner) {
/***/           _scope_.innerRender(_output_)
/***/         }
        </li>
/***/       }).outerRender(_output_, true);
      });
/***/     };
/***/     if (holdInner) {
/***/       _scope_.innerRender(_output_)
/***/     }
      </ul>
/***/   }).outerRender(_output_, true);
/***/ });
/***/ _rootScope_.innerRender(_output_);
/***/ jnodes.bind.$$scope = _rootScope_;
      </script>
    </div>

    <!--script type="text/ejs">
    <% if (star) { %>
        <button cmd="star">🌟</button>
    <% } else { %>
        <button cmd="star">🌛</button>
    <% } %>
    </script-->
    <script type="text/ejs" id="book">
    <%
/***/ var _rootScope_ = jnodes.bind(locals, { root: true }, null, function (__output, _scope_) {
/***/   var __append = __output.push.bind(__output);
    %>
    <% if (star) { %>
        <button cmd="star">🌟</button>
    <% } else { %>
        <button cmd="star">🌛</button>
    <% } %>
    <%
/***/ });
/***/ _rootScope_.innerRender(__output);
/***/ jnodes.bind.$$scope = _rootScope_;
    %>
    </script>
</body>
<script src="../node_modules/jhtmls/jhtmls.js"></script>
<script src="../node_modules/ejs/ejs.js"></script>
<script src="../node_modules/h5tap/h5tap.js"></script>
<script src="../jnodes.js"></script>
<script src="books.js"></script>
<script>
(function () {
  books = books.slice(0, 10).map(function(book) {
    book.star = false;
    return book;
  });
  var rootData = {
    books: books
  }

  var binder = new jnodes.Binder();

  jnodes.bind = function () {
    return binder.bind.apply(binder, arguments);
  };
  jnodes.templateRender = function () {
    return binder.templateRender.apply(binder, arguments);
  }

  // --
  var script = document.querySelector('#book');

  var render = ejs.compile(script.innerHTML);
  binder.registrTemplate('button', function (scope) {
    return render(scope.model);
  })

  var element = document.querySelector('#books_jhtml');
  var script = document.querySelector('#books_jhtml script');

  element.innerHTML = jhtmls.render(script.innerHTML, rootData);
  var rootScope_jhtmls = jnodes.bind.$$scope;
  rootScope_jhtmls.element = element;

  h5tap('body', 'button', function (element) {
    var scope = binder.scope(element) || rootScope_jhtmls;
    var cmd = element.getAttribute('cmd');
    switch (cmd) {
      case 'star':
        var scope = binder.scope(element);
        scope.model.star = !scope.model.star;

        break;
      case 'remove':

        books.shift();
        break;

      default:
        if (cmd[0] === '@') {
          var method = (scope.methods || {})[cmd]
          if (method) {
            method()
          }
        }
        break;
    }
  });
})();
</script>
</html>
